.animated-div {
  position: fixed;
  top: 0;
  right: 0; /* Start with right at 0 for sliding in */
  transition: right 0.5s ease-in-out;
}

.slide-out {
  right: -100%; /* Slide out by moving right beyond the viewport */
}

.slide-in {
  right: 0;
}

.slide-out {
  right: -100%;
}


/* Modal.css */
.custom-modal {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */

  &::-webkit-scrollbar {
    width: 12px; /* Safari and Chrome */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* Safari and Chrome */
  }
}
